body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}


#typing {
  font-size: 2rem;
  color: orange;
  font-weight: bold;
  border-right: 2px solid orange; /* Cursor effect */
  /*animation: blink 0.7s steps(1) infinite;*/
  animation: blink 0.7s steps(1) infinite, textColor 3s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.line-drawing {
  margin-top: 20px;
}

.line {
  stroke: cyan;
  /* The total length of the path is approx 500px. */
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 4s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }

}

